.products{
    margin: 0 75px;
    flex-wrap: wrap;
}

.products .card{
    margin: 10px;
}

.products .card img{
    height: 50rem;
    transition: all 10s;
}

.products .card img:hover{
    transform: scale(0.95);
}

/* square cards */
.products-square{
    margin: 0 100px;
}

.products-square .card{
    margin: 10px;
}

.products-square .card img{
    height: 30rem;
    transition: all 10s;
}

.products-square .card img:hover{
    transform: scale(0.95);
}

.closet-division{
    display: flex;
    margin: 0 100px;
}

.closet-division .card{
    margin: 10px;
}

.closet-division .card img{
    height: 60rem;
}

.closet-division .card a{
    color: #8f8f8f;
    text-decoration: none;
}

.closet-division .card a:hover{
    color: #e9e9e9;
}