footer{
    padding: 1vw;
    color: #8f8f8f;
}

footer .foot-page{
    text-align: center;
    display: flex;
}

footer .foot-page ul{
    list-style: none;
    display: flex;
}

footer .foot-page a{
    color: #8f8f8f;
    text-decoration: none;
}

footer .foot-page a:hover{
    color: #0c0c0c;
}