.top-container{ /* top navbar line */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container .top-left-item-container, /* behave position of top navbar line */
.top-container .top-right-item-container{
    display: inline-flex;
    list-style: none;
    margin: 0 5px;
    padding: 0 65px;
}

.top-left-item-container i{
    color: #0c0c0c; /* color for social icons line */
}

.top-left-item-container i:hover{
    color: #8f8f8f;
}

.tpp-container .top-left-item-container .icon a,
.top-container .top-right-item-container .link a{ /* letter's behave of top navbar line */
    font-size: 12px;
    color: #0c0c0c;
    font-weight: 700;
    text-decoration: none;
    
}

.top-container .top-left-item-container .icon{
    margin: 10px;
}
.top-container .top-right-item-container .link{
    margin: 5px 2px;
}

.top-container .top-right-item-container .link a:hover{
    color: #8f8f8f;
}