.middle-left-item-container img{ /* logo */
    height: 50px;
    width: auto;
    padding-left: 5px;
    margin: 0 50px;
    border-radius: 50%;
}
@media (max-width: 782px){ /* logo fixed for no responsive broken*/
    .middle-left-item-container img {
        height: 45px;
        margin: 0 4px;
    }
}
.middle-middle-item-container ul{
    list-style: none;
    font-weight: 700;
} 
.nav-item:hover .dropdown-menu {   /* Show dropdown when hover */
    display: block;
  }
.dropdown-link a:hover{
    text-decoration-line: underline;
}
.middle-rigth-item-container ul{
    align-items: center;
    list-style: none;
    padding-right: 5px;
    margin: 10px 0;
  }
.middle-rigth-item-container i{
    font-size: 22px;
    margin: 0 10px;
    color: #0c0c0c;
  }
.middle-rigth-item-container i:hover{
    color: #8f8f8f;
  }